<!-- Sidebar -->
<div id="sidebar">

    <!-- Logo -->
        <h1 id="logo"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

    <!-- Nav -->
        <nav id="nav">
            <ul class="list-unstyled">
                <li class="{% if page.url == site.baseurl %} current{% endif %}"><a href="{{ site.baseurl }}">Home</a></li>
                <li class="{% if page.url == site.posts.first.url %} current{% endif %}"><a href="{{site.posts.first.url}}">Latest Post</a></li>
                {% assign pages_list = site.pages %}
                {% for node in pages_list %}
                    {% if node.title != null %}
                        {% if node.layout == "page" %}
                            <li class="{% if page.url == node.url %} current{% endif %}"><a href="{{ node.url }}">{{ node.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!--<li><a href="#">Contact Me</a></li>-->
            </ul>
        </nav>

    <!-- Text -->
        <section class="box text-style1">
            <div class="inner">
                <p>
                    <strong>I am</strong>
                    Passionate full stack software developer enjoying technology and leadership challenges
                </p>
                <p>
                    <a href="https://github.com/sviridovserg"><img src="{{ site.baseurl }}assets/images/github.png" alt="GitHub" style="width:24px;"/></a>
                </p>
            </div>
        </section>


    <!-- Recent Posts -->
        <!--<section class="box recent-posts">
            <header>
                <h2>Recent Posts</h2>
            </header>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Feugiat nisl aliquam</a></li>
                <li><a href="#">Sed dolore magna</a></li>
                <li><a href="#">Malesuada commodo</a></li>
                <li><a href="#">Ipsum metus nullam</a></li>
            </ul>
        </section>-->

    <!-- Recent Comments -->
        <!--<section class="box recent-comments">
            <header>
                <h2>Recent Comments</h2>
            </header>
            <ul>
                <li>case on <a href="#">Lorem ipsum dolor</a></li>
                <li>molly on <a href="#">Sed dolore magna</a></li>
                <li>case on <a href="#">Sed dolore magna</a></li>
            </ul>
        </section>-->


    <!-- Copyright -->
        <ul id="copyright" class="list-unstyled">
            <li>&copy; {{ site.time | date: '%Y' }} Sergei Sviridov.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

</div>
